<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Your Book Comments!</h1>

<form action="/books/<%= book._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Book</button>
</form>

<%- include('../partials/footer') %>