<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <form action="/stormies" method="POST">
    <label>
      Enter Your ZIP Here
      <input type="number" name="zipcode">
    </label>
    <button type="submit">Save Location</button>
  </form>
  
</section>

<%- include('../partials/footer') %>