<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Your Weather Home Page</h1>

<form action="">
  <input type="text" name="zipcode" placeholder="Enter ZIP">
</form>

<%- include('../partials/footer') %>